@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Inter',sans-serif;
    background:#020b20;
    color:#000001;
    min-height:100vh;
    padding:30px;
}

h1{
    font-size:32px;
    font-weight:800;
    margin-bottom:20px;
}

